

<fieldset>
  <legend>Ajouter un collegue</legend>
  <form (ngSubmit)="ajouterCollegue()" #formAjourColl="ngForm">
  <table>
    <tr>
      <td><label for="nom"></label>Nom : </td>
      <td><input required minlength="3" name="nom" class='form-control' id='nom' type="text" [(ngModel)]="newNom" #nom="ngModel" [ngModelOptions]="{updateOn: 'blur'}"></td>
      <td style='padding-left=10px; color: red'><p *ngIf="nom.dirty && nom.invalid">champ invalid</p></td>
    </tr>
    <tr>
      <td><label for="prenom"></label>Prenom : </td>
      <td><input required minlength="3" name="prenom" class='form-control' id='prenom' type="text" [(ngModel)]="newPrenom" #prenom="ngModel" [ngModelOptions]="{updateOn: 'blur'}"></td>
      <td style='padding-left=10px; color: red'><p *ngIf="prenom.dirty && prenom.invalid"> champ invalid</p></td>
    </tr>
    <tr>
      <td><label for="email"></label>Email : </td>
      <td><input required minlength="3" name="email" class='form-control' id='email' type="email" [(ngModel)]="newEmail" #email="ngModel" [ngModelOptions]="{updateOn: 'blur'}"></td>
      <td style='padding-left=10px; color: red'><p *ngIf="email.dirty && email.invalid"> champ invalid</p></td>
    </tr>
    <tr>
      <td><label for="dateNaissance"></label>Date de naissance : </td>
      <td><input required name="dateNaissance" class='form-control' id='dateNaissance' type="date" [(ngModel)]="newBirthDate" #dateNaissance="ngModel" [ngModelOptions]="{updateOn: 'blur'}"></td>
      <td style='padding-left=10px; color: red'><p *ngIf="dateNaissance.dirty && dateNaissance.invalid"> champ invalid</p></td>
    </tr>
    <tr>
      <td><label for="imgUrl"></label>Lien image :</td>
      <td><input appUrlValidator="" required minlength="10" name="urlImg" class='form-control' id='imgUrl' type="url" [(ngModel)]="newUrl" #urlImg="ngModel" [ngModelOptions]="{updateOn: 'blur'}"></td>
      <td>
        <div *ngIf="urlImg.invalid && urlImg.dirty" class="alert alert-danger">
          <div *ngIf="urlImg.errors.required">ce champ est obligatoire.</div>
          <div *ngIf="urlImg.errors.minlength">le champ dois faire minimum 10 caracteres.</div>
          <div *ngIf="urlImg.errors.urlInvalide">l'url doit commencer par http</div>
        </div>
      </td>
    </tr>
  </table>
  <button type="submit" class='btn btn-primary' [disabled]="!formAjourColl.form.valid">Ajouter</button>
</form>
</fieldset>
<div *ngIf="success" class="alert alert-success" role="alert">
  Collegue ajouter avec succes
</div>
