


<div *ngIf="!collegues"class="">
  <h3 class="text-center">selectionez un collegue</h3>
</div>

<div *ngIf="collegues"class="">
  <div *ngIf="!collegues[0]"class="">
    <h3 class="text-center">Aucun resultat</h3>
  </div>
</div>

<div *ngIf="collegues"class="">
  <div *ngFor="let collegue of collegues" class="container">
    <div class="row">


      <!-- gestion de l'image -->
      <div class="col-xs-3">
        <img class="float-left" width=100% src="{{collegue.photoUrl}}" alt="img">
        <div *ngIf="!fieldImg">
          <button (click)="editImg(collegue)" class="btn btn-primary btn-space">editer</button>
        </div>
        <div *ngIf="fieldImg">
          <form (ngSubmit)="editerCollegue(collegue)" #formEditColl="ngForm">
            <table>
              <tr>
                <td><label for="imgUrl"></label>Lien image :</td>
                <td><input appUrlValidator required minlength="10" name="urlImg" class='form-control' id='imgUrl' type="url" [(ngModel)]="newUrl" #urlImg="ngModel" [ngModelOptions]="{updateOn: 'blur'}"></td>
              </tr>
              <tr>
                <td>
                  <div *ngIf="urlImg.invalid && urlImg.dirty" class="alert alert-danger">
                    <div *ngIf="urlImg.errors.required">ce champ est obligatoire.</div>
                    <div *ngIf="urlImg.errors.minlength">le champ dois faire minimum 10 caracteres.</div>
                    <div *ngIf="urlImg.errors.urlInvalide">l'url doit commencer par http</div>
                  </div>
                </td>
              </tr>
            </table>
            <button type="submit" class='btn btn-primary' [disabled]="!formAjourColl.form.valid">Ajouter</button>
          </form>
        </div>
      </div>



      <div class="col-xs-6">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Matricule</th>
              <td>{{collegue.matricule}}</td>
            </tr>
            <tr>
              <th scope="row">Nom prenom</th>
              <td>{{collegue.nom}} {{collegue.prenom}}</td>
            </tr>
            <tr>
              <th scope="row">Date de naissance</th>
              <td>{{collegue.dateNaissance | date:'d MMM y'}}</td>
            </tr>
            <tr>
              <th scope="row">email</th>

              <td *ngIf="!fieldEmail">{{collegue.email}}</td>
              <td *ngIf="fieldEmail">
                <form (ngSubmit)="editerCollegue(collegue)" #formEditColl="ngForm">
                  <input required minlength="3" name="email" class='form-control' id='email' type="email" [(ngModel)]="newEmail" #email="ngModel" [ngModelOptions]="{updateOn: 'blur'}">
                  <button type="submit" class="btn btn-primary btn-space">Modifier</button>
                </form>
              </td>

              <td *ngIf="!fieldEmail"><button (click)="editMail(collegue)" class="btn btn-primary btn-space">editer</button></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>





  </div>
</div>
